<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımızda</title>
</head>
<body>
    <header>
        <nav>
            <li><a href="./contact.html">İletişim</a></li>
            <li><a href="./index.html">Ana Sayfa</a></li>
        </nav>
    </header>
    <section>
        <article>
            <h2>Hakkımızda</h2>
            <img src="../images/image3.jpg" alt="1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, unde odio laborum beatae ipsam ducimus nesciunt sit perferendis dolore dolorum non! Explicabo alias a, porro magni beatae quisquam temporibus repellendus maxime excepturi error eum nostrum. Ullam, recusandae ducimus quia itaque adipisci tenetur sequi. Ut cumque accusantium sed sunt quia fugiat.</p>
            <p>Ea aliquam, aliquid tenetur accusantium eum aut suscipit perferendis vero porro. Maiores fuga quia ad dignissimos. Veniam, sit. Saepe, reiciendis asperiores earum architecto optio provident cumque ad, delectus eos itaque eveniet maiores doloremque ullam porro. Rerum ex ipsa, hic excepturi minima temporibus dolorum molestiae aliquam in facere debitis commodi perspiciatis?</p>
            <p>Tempore, non. Excepturi necessitatibus quo odit saepe consequatur amet corrupti, quam quis sit sequi commodi molestias nisi minus similique recusandae aspernatur veniam ducimus impedit quia repudiandae tempore repellat fuga odio! Ullam consequatur amet non accusamus hic, perferendis rem optio sapiente vitae architecto praesentium perspiciatis nobis ad culpa autem corporis facere?</p>
        </article>
        <hr>
    </section>
</body>
</html>