<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim</title>
</head>
<body>
    <header>
        <nav>
            <li><a href="./about-me.html">Hakkımda</a></li>
            <li><a href="./index.html">Ana Sayfa</a></li>
        </nav>
    </header>
    <section>
        <article>
            <h2>İletişim</h2>
            <img src="../images/image2.png" alt="1">
            <ol>
                <li><a>Ankara/Domates Patlıcan Mah. Biber Sokak Barış Apt. Kapı No 43</a></li>
                <li><a href="tel:01111111111">0 111 111 11 11</a></li>
                <li><a href="mailto:mail@mail.com">mail@mail.com</a></li>
            </ol>
        </article>
        <hr>
    </section>
</body>
</html>