<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
</head>
<body>
    <header>
        <nav>
            <li><a href="./about-me.html">Hakkımda</a></li>
            <li><a href="./contact.html">İletişim</a></li>
        </nav>
    </header>
    <section>
        <article>
            <h2>Lorem, ipsum dolor.</h2>
            <img src="../images/image1.jpg" alt="1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, maxime!</p>
            <p>Placeat, libero reiciendis? Sapiente quisquam corporis perspiciatis soluta et quis!</p>
            <p>Hic facere iusto quia quaerat omnis, nisi tenetur quod veritatis!</p>
            <ol>
                <li>Lorem ipsum dolor sit amet consectetur.</li>
                <li>Voluptatem deserunt perferendis est quisquam aut.</li>
                <li>Veniam fugit culpa explicabo in vitae?</li>
                <li>Assumenda est doloremque veritatis esse ea?</li>
                <li>Ad corporis rem commodi eligendi earum?</li>
            </ol>
        </article>
        <hr>
    </section>
</body>
</html>